@import '../../../styles/colors';

.hidden {
  display: none;
}

.pageRenderer {
  :global {
    .gjs-off-prv {
      display: none !important;
    }
  }
}

:global {
  .gjs-pn-buttons {
    justify-content: space-around;
  }

  .custom-trait-layout {
    .custom-trait-label {
      margin-bottom: 12px;
    }
  }

  .input-slider-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .input-slider-text {
      flex: 0 0 24px;
      margin: 0 2px;
    }

    .input-slider {
      flex: 1 1 auto;
    }
  }

  .input-slider-value-container {
    width: 100%;
    text-align: left;
  }

  .input-select {
    color: map-get($map: $colors, $key: 'Black');
    width: 100%;
    min-height: 24px;
  }

  .gjs-one-bg {
    background-color: map-get($map: $colors, $key: 'Cyprus');
  }

  .gjs-two-color {
    color: map-get($map: $colors, $key: 'White');
  }

  .gjs-four-color {
    color: map-get($map: $colors, $key: 'DodgerBlue');
  }

  .gjs-four-color-h:hover {
    color: map-get($map: $colors, $key: 'DodgerBlue');
  }

  .gjs-field {
    background-color: rgba(0, 0, 0, 0.7);
  }

  // Styling for flex icons
  .icons-flex {
    background-size: 70% 65% !important;
    height: 15px;
    width: 17px;
    opacity: 0.9;
  }
  .icon-dir-row {
    background: url('/src/assets/images/flex_icons/flex-dir-row.png') no-repeat center;
  }
  .icon-dir-row-rev {
    background: url('/src/assets/images/flex_icons/flex-dir-row-rev.png') no-repeat center;
  }
  .icon-dir-col {
    background: url('/src/assets/images/flex_icons/flex-dir-col.png') no-repeat center;
  }
  .icon-dir-col-rev {
    background: url('/src/assets/images/flex_icons/flex-dir-col-rev.png') no-repeat center;
  }
  .icon-just-start {
    background: url('/src/assets/images/flex_icons/flex-just-start.png') no-repeat center;
  }
  .icon-just-end {
    background: url('/src/assets/images/flex_icons/flex-just-end.png') no-repeat center;
  }
  .icon-just-sp-bet {
    background: url('/src/assets/images/flex_icons/flex-just-sp-bet.png') no-repeat center;
  }
  .icon-just-sp-ar {
    background: url('/src/assets/images/flex_icons/flex-just-sp-ar.png') no-repeat center;
  }
  .icon-just-sp-cent {
    background: url('/src/assets/images/flex_icons/flex-just-sp-cent.png') no-repeat center;
  }
  .icon-al-start {
    background: url('/src/assets/images/flex_icons/flex-al-start.png') no-repeat center;
  }
  .icon-al-end {
    background: url('/src/assets/images/flex_icons/flex-al-end.png') no-repeat center;
  }
  .icon-al-str {
    background: url('/src/assets/images/flex_icons/flex-al-str.png') no-repeat center;
  }
  .icon-al-center {
    background: url('/src/assets/images/flex_icons/flex-al-center.png') no-repeat center;
  }

  // Continye this styling later
  // .trait-radio-button-container {
  //   display: flex;
  //   width: 100%;
  //   justify-content: space-around;

  //   .trait-radio-button {
  //     flex: 0 0 25%;
  //   }
  // }
}
