@import '../../../styles/variables.scss';

.sidePanelContainer {
  width: 100%;
  height: 100vh;
  padding: 20px 0;
  background-color: map-get($map: $colors, $key: 'DodgerBlue');

  h1, h2, h3, h4, h5, h6 {
    color: map-get($map: $colors, $key: 'White') !important;
  }

  .navItem {
    padding: 4px 10px;
    width: 100%;
  }

  .channelListContainer {
    @extend .navItem;
    padding: 4px 0;
  }

  .emptyChannelText {
    padding-left: 20px;
    font-size: 12px !important;
    font-weight: normal;
    color: map-get($map: $colors, $key: 'Silver') !important;
  }

  .whiteOutlineButton {
    color: map-get($map: $colors, $key: 'White') !important;
    border-color: map-get($map: $colors, $key: 'White') !important;
    
    &:hover {
      color: map-get($map: $colors, $key: 'DodgerBlue') !important;
      background-color: map-get($map: $colors, $key: 'White') !important;
    }
  }

  @media screen and (max-width: 960px) {
    :global {
      .str-chat-channel-list.messaging, .str-chat-channel-list.team, .str-chat-channel-list.commerce {
        position: initial;
        min-height: 0;
      }
    }
  }
}