@import '../../styles/variables.scss';

.sessionCard {
  margin: 10px !important;
  cursor: pointer;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 6px !important;

  .cardImage {
    border-radius: 5px;
    object-fit: scale-down;
    height: 100%;
  }

  .cardDetailsContainer {
    display: flex;
    flex-direction: column;
  }

  .sessionType {
    color: map-get($colors, $key: 'EasternBlue') !important;
    background: map-get($colors, $key: 'PaleCornflowerBlue');
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
  }

  .tagsList {
    margin-top: auto !important;
  }

  .tags {
    text-align: center;
    font-size: 13px;
  }

  .tagsDisabled {
    @extend .tags;
    opacity: 0.4;
  }

  .sessionTag {
    @extend .tags;
    width: 100%;
  }

  .sessionDesc * {
    // p,
    // span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
    background-color: transparent !important;
    // }
  }
  .sessionDesc {
    height: 64px;
    // overflow-y: auto;
    overflow: hidden;
    margin: 5px 0;
  }
}

.alignBottom {
  align-self: flex-end;
}

@media (max-width: 768px) {
  .sessionCard {
    margin: 0px !important;

    .sessionDesc {
      max-height: 48px;
    }

    .tags {
      width: 100%;
      text-align: center;
      font-size: 12px;
      padding: 2px;
    }
  }
}
