@import '../../styles/variables.scss';

.videoCard {
  .videoThumbnail {
    object-fit: scale-down;
  }

  .highlightedBox {
    padding: 10px;
    background: map-get($colors, 'AliceBlue');
    border: 1px solid map-get($colors, 'PaleCornflowerBlue');
    border-radius: 4px;
    width: fit-content;
  }

  .divider {
    height: 30px;

    &.horizontal {
      height: 10px;
      width: 120px;
      margin: 10px 0 !important;
    }
  }

  .videoDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .orderDetailsWrapper {
    @extend .textAlignCenter;
    font-size: 13px;

    .textDivider {
      width: 100%;
    }
  }

  .flexColumn {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;

    .flexVerticalRow {
      padding: 8px;
      display: block;
      flex: 0 0 auto;
      width: 100%;

      &.flexGrow {
        flex: 1 0 auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .videoCard {
    .flexColumn {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;

      .flexVerticalRow {
        display: block;
        flex: 0 0 50%;
        width: auto;
      }
    }
  }
}
