@import '../../styles/variables.scss';

.loginFormContainer {
  box-shadow: -4px 3px 2px map-get($map: $colors, $key: 'Lavender');
  border: 1px solid map-get($map: $colors, $key: 'Silver');

  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  top: 300px;
  background: #ffffff;
  border-radius: 20px;
  max-width: 700px;
  padding: 60px;

  @media screen and (max-width: 526px) {
    padding: 60px 24px;
    top: 280px;
  }
}

.loginHeadingText {
  min-width: 320px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #434343;

  @media screen and (max-width: 526px) {
    min-width: 240px;
    font-size: 18px;
  }
}

.loginForm {
  width: 100%;
  text-align: center;
}

.loginHeadingSubtext {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #232323;
  padding-bottom: 20px;

  @media screen and (max-width: 526px) {
    font-size: 14px;
    padding-bottom: 20px;
  }
}

.submitButton {
  @extend .orangeBtn;
  min-height: 48px !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 24px !important;
}

.linkButton {
  color: map-get($map: $colors, $key: 'Pumpkin') !important;
}