@import '../../styles/variables.scss';

.showcaseCourseCardWrapper {
  &.dashboardPadding {
    padding: 10px 30px;
  }

  .showcaseCourseCard {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  }

  .courseImageWrapper {
    height: fit-content;
    .courseImage {
      border-radius: 5px;
      object-fit: fill;
    }
  }

  .courseInfoWrapper {
    .courseNameWrapper {
      font-size: 18px;
      height: 58px;
    }

    .courseDetailsWrapper {
      font-size: 14px;
    }

    .coursePriceWrapper {
      font-size: 16px;
    }
  }

  .buyButtonWrapper {
    align-self: center;
  }
}

@media screen and (max-width: 992px) {
  .showcaseCourseCardWrapper {
    .courseInfoWrapper {
      .courseNameWrapper {
        font-size: 14px;
        height: 58px;
      }

      .courseDetailsWrapper {
        font-size: 13px;
      }

      .coursePriceWrapper {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .showcaseCourseCardWrapper {
    .courseInfoWrapper {
      .courseNameWrapper {
        font-size: 16px;
        height: 58px;
      }

      .courseDetailsWrapper {
        font-size: 16px;
      }

      .coursePriceWrapper {
        font-size: 16px;
      }
    }
  }
}
