@import '../../styles/variables.scss';

.container {
  .mainContent {
    padding: 0 24px 24px;
    min-height: 100vh;
    background-color: map-get($colors, 'white');
  }
}
.divider {
  margin: 2px !important;
}
.sideIcon {
  :global {
    .ant-layout-sider-zero-width-trigger {
      top: -50px;
      right: -36px;
      color: map-get($colors, 'black');
      background: map-get($colors, 'white');
    }
  }
}
