@import '../../styles/variables.scss';

.container {
  .mainContent {
    padding: 0 24px 24px;
    min-height: 100vh;
    background-color: map-get($colors, 'White');
  }
}
.divider {
  margin: 2px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.sideIcon {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
}
@media (max-width: 768px) {
  .sideIcon {
    position: absolute !important;
    z-index: 999;
    height: 100vh;
    box-shadow: 2px 0 4px -3px #333 !important;
    :global {
      .ant-layout-sider-zero-width-trigger {
        top: -50px;
        right: -36px;
        color: map-get($colors, 'Black');
        background: transparent;
      }
    }
  }
}
