@import '../../../styles/variables.scss';

.moreButtonContainer {
  text-align: center;
}

.dashboardContainer {
  padding: 10px;
}

.sessionsContainer {
  width: 100%;
}

.videosContainer {
  width: 100%;

  .videoTitle {
    min-height: 48px;
  }
  
  .coverImage {
    object-fit: cover;
    border-radius: 8px;
    height: 140px !important;
  
    @media screen and (max-width: 993px) {
      height: 140px !important;
    }
  
    @media screen and (max-width: 768px) {
      height: 200px !important;
    }
  
    @media screen and (max-width: 569px) {
      height: 150px !important;
    }
  }
  
  .videoItem {
    cursor: pointer;
  }
  
  .expiryText {
    font-size: 12px;
  }
  
}