@import '../../../../styles/variables.scss';

.newPostModal {
  :global {
    .str-chat__input-flat {
      padding: 0px !important;
  
      .str-chat__textarea {
        // min-height: 200px;
        > textarea {
          height: 100% !important;
          min-height: 200px !important;
        }
      }
    }
  
    .str-chat__send-button {
      display: block !important;
    }
  }
}

.inputWrapper {
  .emojiButton {
    border: none;

    .emojiIcon {
      font-size: 20px;
    }
  }

  .sendButtonContainer{
    align-self: center;
    text-align: right;
    justify-content: end;

    :global {
      .str-chat__send-button {
        display: block;
      }
    }
  }

  .textAreaWrapper {
    height: 220px;  
  }
}

.emojiPopupContainer {
  :global {
    .str-chat__input--emojipicker {
      position: relative;
    }
  }
}