@import '../../../../styles/variables.scss';

.editViewButtonContainer {
  overflow: hidden;
}

.editComponentButton {
  background-color: map-get($map: $colors, $key: 'EasternBlue');
  border: 1px solid map-get($map: $colors, $key: 'EasternBlue');
  width: 100%;
  border-radius: 0 0 24px 24px;
  margin-top: -8px;
  padding: 16px 16px 8px;
  color: map-get($map: $colors, $key: 'White');
  cursor: pointer;
}

.deleteComponentButton {
  @extend .editComponentButton;
  background-color: map-get($map: $colors, $key: 'SunsetOrange');
  border: 1px solid map-get($map: $colors, $key: 'SunsetOrange');
}