@import '../../../styles/variables.scss';

.sessionListContainer {
  @media screen and (max-width: 767px) {
    flex-flow: row nowrap !important;
    overflow-x: scroll;
    padding-bottom: 6px !important;
  }

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--passion-profile-light-color, #{map-get($map: $colors, $key: 'WhiteSmoke1')});
    border: 3px solid var(--passion-profile-light-color, #{map-get($colors, 'White')});
  }

  &::-webkit-scrollbar-track {
    background: var(--passion-profile-lightest-color, #{map-get($colors, 'White1')});
  }
}