@import '../../styles/variables.scss';

.zoomOption {
  @extend .mt20;
  .accountSelectionLabel {
    margin-right: 10px;
  }
}
.zoomConnectAccount {
  @extend .mt50;
  background-color: map-get($colors, $key: 'White');
  padding: 80px 120px;
}
.zoomConnectAccountForm {
  @extend .mt50;
  margin-left: map-get($spacing, '20');
  margin-bottom: map-get($spacing, '20');
}
.success {
  background-color: map-get($colors, $key: 'KellyGreen') !important;
  border-color: map-get($colors, $key: 'KellyGreen') !important;
}
@media (max-width: 768px) {
  .zoomConnectAccount {
    padding: 10px;
  }
}
