@import '../../styles/variables.scss';

.button {
  margin-right: 20px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.imageWrapper {
  position: relative;
  height: 300px;
  margin-bottom: 10px;
  margin-top: 50px;
}
.coverImage img {
  border-radius: 8px;
}
.profileImage {
  border: 2px solid #ffffff;
  border-radius: 4px;
  bottom: 50px;
  left: 50px;
}
.profileImage img {
  border-radius: 4px;
}
.profileImageSmall {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 4px;
  bottom: 20px;
}
.profileImageSmall img {
  border-radius: 4px;
}
.socialIcon {
  font-size: 24px;
  margin: 5px;
}
.coverImageWrapper {
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 8px;
  margin: -20px;
}
.card {
  margin: 10px !important;
  max-height: 600px;
  height: 100%;
  overflow: auto;
}
@media (max-width: 768px) {
  .card {
    max-height: 100%;
    margin: 10px !important;
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
}
