@import '../../../styles/variables.scss';

.successBtn {
  color: map-get($colors, $key: 'KellyGreen') !important;
}

.videoTitle {
  min-height: 48px;
}

.coverImage {
  border-radius: 8px;
  height: 120px !important;

  @media screen and (max-width: 993px) {
    height: 140px !important;
  }

  @media screen and (max-width: 768px) {
    height: 200px !important;
  }

  @media screen and (max-width: 569px) {
    height: 150px !important;
  }
}

.videoItem {
  cursor: pointer;
}
.expiryText {
  font-size: 12px;
}
