@import '../../../styles/variables.scss';

.successBtn {
  color: map-get($colors, $key: 'KellyGreen') !important;
}
.coverImage {
  border-radius: 8px;
  height: 100px;

  @media screen and (max-width: 569px) {
    height: 200px;
  }
}
.videoItem {
  cursor: pointer;
}
.expiryText {
  font-size: 12px;
}
