@import '../../styles/variables.scss';

.greenBtn {
  background-color: map-get($map: $colors, $key: 'KellyGreen') !important;
  border-color: map-get($map: $colors, $key: 'KellyGreen') !important;
}

.paymentBtnWrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.paymentSupportImage {
  width: 100%;
}