@import '../../styles/variables.scss';

.linkBtn {
  padding: 0px !important;
}

.redInputBorder {
  border: 1.5px solid map-get($map: $colors, $key: 'SunsetOrange') !important;
}

.tncText {
  text-align: center;
  margin-top: -12px;
}

.descriptionText {
  @extend .greenText;
  opacity: 0.8;
}

.topBorder {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding-top: 12px;
}

.paymentSupportImage {
  width: 100%;
  max-width: 400px;
}

.paymentTotalText {
  font-weight: 500;
  text-align: right;

  .discounted {
    del {
      text-decoration: solid line-through map-get($map: $colors, $key: 'Razzmatazz') 2px;
    }
  }
}
