@import '../../../../styles/variables.scss';

.tagDropdownContainer {
  width: 100%;
}

.filterContainer {
  width: clamp(200px, 250px, 300px);

  .filterDropdown {
    width: 100% ;
  }
}

.orangeBtn {
  background-color: map-get($map: $colors, $key: 'Pumpkin') !important;
  border-color: map-get($map: $colors, $key: 'Pumpkin') !important;
}

.searchInput {
  :global {
    .ant-btn {
      border-radius : 0px !important;
    }
  }
}