@import '../../../../styles/variables.scss';

.tagDropdownContainer {
  width: 100%;
}

.orangeBtn {
  background-color: map-get($map: $colors, $key: 'Pumpkin') !important;
  border-color: map-get($map: $colors, $key: 'Pumpkin') !important;
  
}