@import '../../styles/variables.scss';

.lightRedBtn {
  background: map-get($map: $colors, $key: 'Razzmatazz') !important;
  border-color: map-get($map: $colors, $key: 'Razzmatazz') !important;
  color: map-get($map: $colors, $key: 'White') !important;
}

.orangeBtn {
  background: map-get($map: $colors, $key: 'Pumpkin') !important;
  border-color: map-get($map: $colors, $key: 'Pumpkin') !important;
  color: map-get($map: $colors, $key: 'White') !important;
}

.greenBtn {
  background: map-get($map: $colors, $key: 'KellyGreen') !important;
  border-color: map-get($map: $colors, $key: 'KellyGreen') !important;
  color: map-get($map: $colors, $key: 'White') !important;
}

.domainNameWrapper {
  flex: 1 1 30%;

  &.dashboard {
    flex: 0 1 240px;
  }
}

.modeSelectWrapper {
  flex: 0 1 200px;
}

.creatorSiteName {
  margin-left: -4px;
  font-size: 24px;
  font-weight: 700;
  color: map-get($map: $colors, $key: 'DodgerBlue');
  cursor: pointer;

  &.textLength8 {
    font-size: 18px;
  }

  &.textLength15 {
    font-size: 14px;
  }
}

.inlineMenu {
  flex: 0 0 70%;

  &.dashboard {
    flex: 1 1 320px;
  }
}

.menuContainer {
  text-align: right !important;
}

.overflowMenuIcon {
  text-align: right;
  margin-left: 20px;
}

.hamburgerMenu {
  font-size: 14px;
}

.menuIndicator {
  font-size: 14px;
  padding: 4px 8px !important;
}

.navItem {
  cursor: pointer;

  .navItemIcon {
    margin-right: 5px;
  }

  &.active {
    color: map-get($colors, 'DodgerBlue');
  }
}

.mobileMenuContainer {
  flex: 1 0 auto;
  display: none;

  .externalButtonWrapper {
    align-self: right;
    margin-right: 64px;
  }
}

.mobileMenuModal {
  .topRow {
    margin-top: -12px;
    margin-left: -4px;
    margin-bottom: 10px;
  }

  ul.menuLinks {
    list-style: none;
    padding: 0;

    & li {
      font-size: 16px;
      border-bottom: 1px solid map-get($map: $colors, $key: 'WhiteSmoke2');
      width: 100%;
      text-align: left;
      padding: 8px 4px 16px;

      &.active {
        border-bottom: 1px solid map-get($map: $colors, $key: 'DodgerBlue');
        color: map-get($map: $colors, $key: 'DodgerBlue');
      }

      &.divider {
        padding: 0;
        border-bottom: 1px solid map-get($map: $colors, $key: 'SuvaGrey');
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .domainNameWrapper {
    flex: 3 1 auto;
  }

  .creatorSiteName {
    &.textLength8 {
      font-size: 16px;
    }

    &.textLength15 {
      font-size: 12px;
    }
  }

  .modeSelectWrapper {
    display: none;
  }

  .menuContainer {
    max-width: 72px;
  }

  .inlineMenu {
    display: none;
  }

  .mobileMenuContainer {
    display: block;

    .mobileMenu {
      margin-left: 12px;
      position: absolute;
      top: 2px;
      right: 4px;

      .menuIndicator {
        font-size: 16px;
      }
    }
  }

  .navItem {
    margin-left: auto;
    margin-right: auto;
  }
}
