@import '../../styles/variables.scss';

.card {
  margin-top: 10px !important;
}

.cardExpansion {
  border: 1px solid map-get($map: $colors, $key: 'White1');
  background-color: map-get($map: $colors, $key: 'White');
  padding: 8px;
}

.passDetailsContainer {
  border: 1px solid map-get($map: $colors, $key: 'DarkGray');
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 16px;
  padding: 10px;
}