.box {
  padding: 10px;
  background: #f0f5ff;
  border: 1px solid #d6e4ff;
  border-radius: 4px;
  display: flex;
  height: 60px;
}
.date {
  background: #1890ff;
  border: 1px solid #1890ff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.month {
  text-transform: uppercase;
}
.divider {
  height: 40px !important;
  margin-right: 10px !important;
}
.day {
  width: 80px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #434343;
  margin-right: 5px;
}
.time {
  width: 100%;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  padding-top: 8px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .box {
    height: 50px;
  }
  .date {
    height: 26px;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 5px;
  }
  .divider {
    height: 30px !important;
  }
  .day {
    margin-right: 0px;
  }
  .time {
    padding-top: 3px;
    font-size: 12px;
  }
}
