@import '../../styles/variables.scss';

.modalActionRow {
  margin-top: 10px;
}

.fileLabel {
  text-align: right;

  @media screen and (max-width:575px) {
    text-align: left;
  }
}

.filenameButton {
  color: map-get($colors, $key: 'KellyGreen') !important;
  font-weight: bold !important;
  
  > span {
    white-space:pre-wrap;
  }
}
