@import '../../../styles/variables.scss';

.contentContainer {
  padding: 8px;
}

.contentContainer * {
  background-color: transparent !important;
  color: var(--passion-profile-dark-color, #{map-get($colors, 'Zeus')}) !important;

  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  // sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}