@import '../../../styles/variables.scss';

.coursePluginContainer {
  background-color: var(--course-widget-background-color);
  width: 100%;

  .courseListContainer {
    max-width: 767px;
    min-height: 700px;
    margin: 0 auto;
  }
}
