@import '../../../styles/variables.scss';

.coursePluginContainer {
  background-color: var(--course-widget-background-color);
  width: 100%;

  .courseListContainer {
    max-width: var(--passion-profile-max-width, 767px);
    min-height: 700px;
    margin: 0 auto;
  }
}
