@import '../../styles/variables.scss';

.productName {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inlineFormItem {
  display: inline-block !important;
  margin-bottom: 0 !important;
}

.numericInput {
  width: 100% !important;
}

.modalActionRow {
  margin-top: 10px;
}

.confirmModal {
  :global {
    .anticon {
      color: map-get($colors, $key: 'KellyGreen') !important;
    }
  }
}

.helpText {
  color: map-get($map: $colors, $key: 'SuvaGrey') !important;
  font-size: 12px;
}

.colorPicker {
  width: 100% !important;
}

.colorPickerPreview {
  border-width: 10px;
  border-style: solid;
}

.courseDatesText {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .courseDatesText {
    text-align: left;
  }
}
