@import '../../styles/variables.scss';

.productName {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inlineFormItem {
  display: inline-block !important;
  margin-bottom: 0 !important;
}

.numericInput {
  width: 100% !important;
}

.modalActionRow {
  margin-top: 10px;
}

.confirmModal {
  :global {
    .anticon {
      color: map-get($colors, $key: 'KellyGreen') !important;
    }
  }
}

.helpText {
  color: map-get($map: $colors, $key: 'SuvaGrey') !important;
  font-size: 12px;
}

.colorPicker {
  margin-left: auto;
  margin-right: auto;
}

.colorPickerPreview {
  border-width: 10px;
  border-style: solid;
}
.imageWrapper {
  position: relative;
  height: 315px;
  margin: 30px 0;
}
.coverImage {
  & > div {
    width: 100% !important;
    height: 300px !important;
  }
}
.uploadVideoBtn {
  width: 100%;
  height: 100px !important;
}
.videoUpload {
  :global {
    .ant-upload.ant-upload-select {
      display: inline-block;
      width: 100%;
    }
  }
}
.videoIcon {
  font-size: 24px;
  z-index: 999;
  cursor: pointer;
}
.uppyDragDrop {
  button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px dotted;
    min-height: 80px;
    cursor: pointer;
  }
}

.centeredPreview {
  margin: auto;
  min-height: 200px;
  object-fit: scale-down;
}

.thumbnailPreview {
  @extend .centeredPreview;

  border: none;
  width: 360px;
  height: 200px;
}

.relativeContainer {
  position: relative;
  
  .videoPreviewLoaderContainer {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0px;
    left: 0px;
    
    .videoPreviewLoader {
      position: absolute;
      top: calc(50% - 24px);
      left: calc(50% - 48px);
    }
  }
}

