@import '../../../styles/variables.scss';

.passListContainer {
  flex-flow: row nowrap !important;
  overflow-x: scroll;
  padding-bottom: 2px !important;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
  }
}