@import '../../styles/variables.scss';

.button {
  margin-right: 20px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: map-get($colors, $key: 'White1');
  border-radius: 50%;
  display: inline-block;
}
.success {
  background-color: map-get($colors, $key: 'KellyGreen');
}
.danger {
  background-color: map-get($colors, $key: 'FireBrick');
}
.imageWrapper {
  position: relative;
  min-height: 365px;
}
.coverImageWrapper {
  text-align: right;
  top: 0;
  left: 0;
  margin-bottom: 0 !important;
}
.profileImageWrapper {
  position: relative;
  bottom: 30px;
  left: 30px;
  margin-bottom: 0 !important;
  z-index: 20;

  .ant-form-item-explain {
    position: absolute;
    bottom: -30px;
  }
}
.coverImage > div {
  width: 100% !important;
  min-height: 365px;
  // height: 300px !important;
}
.profileImage {
  position: absolute;
  bottom: -40px;
  left: 20px;
}
.subtext {
  color: map-get($colors, $key: 'SuvaGrey');
  margin-left: map-get($spacing, '20');
  margin-bottom: map-get($spacing, '20');
}
.alignUrl {
  align-items: baseline !important;
}
.nameInputWrapper {
  margin: 0px !important;
}
.nameInput {
  max-width: 180px;
  display: inline-block !important;
  margin-right: 10px !important;
}
.card {
  margin: 10px !important;
}
@media (max-width: 768px) {
  .nameInput {
    max-width: 230px;
  }
  .card {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
}

@import '../../styles/variables.scss';

html, body {
    height: 100%;
    background-color: #FAFAFA !important;
}

.signupContainer {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    top: 340px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 80px;
    width: 490px;
}

.signupHeadingText{
    width: 368px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 74px;    
    text-align: center;
    color: #434343;
}

.signupForm{
    width: 368px;
    text-align: center;
}

.signupHeadingSubtext{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #232323;
    padding-bottom: 40px;
}

.signupButton{
    border: 1px solid #FF820B !important ;
    width: 240px;
    height: 56px !important;
    background: linear-gradient(94.06deg, #FF820B 0%, rgba(255, 134, 19, 0.75) 106.52%) !important;
    border-radius: 8px !important;
    font-family: Inter;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 24px !important;
}