@import '../../styles/variables.scss';

.creatorName,
.fullProfile {
  cursor: pointer;

  &:hover {
    color: map-get($map: $colors, $key: 'DodgerBlue');
  }
}

.creatorName {
  padding: 10px;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #003A8C;
}

.creatorNameTitle {
  padding: 5px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #434343;
}

.fullProfile {
  font-size: 16px;
  font-weight: 400;
}

.box {
  background: map-get($colors, 'White1');
  border-radius: 6px;
  padding: 15px;
}
.profileImage {
  position: absolute;
  border: 2px solid map-get($colors, 'White');
  border-radius: 4px;
  cursor: pointer;
}
.profileImage {
  img {
    border-radius: 4px;
    cursor: pointer;
  }
}
.profileImageSmall {
  position: absolute;
  border: 2px solid map-get($colors, 'White');
  border-radius: 4px;
  cursor: pointer;
}
.profileImageSmall {
  img {
    border-radius: 4px;
    cursor: pointer;
  }
}
.socialIcon {
  font-size: 24px;
  margin: 5px;
}

.creatorBio * {
  // p,
  // span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
    background-color: transparent !important;
  // }
}
.creatorBio {

  background-color: map-get($colors, 'White1') !important;

  max-height: 240px;
  overflow: hidden;
}

.readMoreText {
  margin-top: 10px !important;
  cursor: pointer;
}

.longTextExpanded * {
  // p,
  // span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
    background-color: transparent !important;
  // }
}
