@import '../../styles/variables.scss';

.coverImage {
  border-radius: 16px;
  img {
    border-radius: 8px;
    width: 100%;
    max-height: 300px;
  }
}
.subText {
  margin-top: 0px !important;
}

.longTextExpanded * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

.sessionDesc *,
.sessionPrereq * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  }
  .sessionDesc,
  .sessionPrereq {
  max-height: 200px;
  overflow: hidden;
}

.readMoreText {
  margin-top: 10px;
  cursor: pointer;
}

.linkButton {
  padding: 0px !important;
}

.videoListContainer {
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .videoListContainer {
    padding: 12px;
  }
}

@import '../../styles/variables.scss';

.box {
  padding: 10px 8px;
  background: map-get($colors, 'AliceBlue');
  border: 1px solid map-get($colors, 'PaleCornflowerBlue');
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}
.date {
  background: map-get($colors, 'DodgerBlue');
  border: 1px solid map-get($colors, 'DodgerBlue');
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
  text-align: center;
  color: map-get($colors, 'White');
  font-size: 24px;
  font-weight: 900;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.month {
  text-transform: uppercase;
  margin-top: 10px;
}
.divider {
  height: 40px !important;
  margin-right: 10px !important;
}

.shortday {
  display: block;
  margin-right: 0px;
  margin-top: 10px;
  line-height: 0 !important;
}

.container {
  width: 45%;
  padding-top: 8px;
  margin-left: 10px;
  margin-top: -10px;
}

.time {
  width: 100%;
  font-style: normal;
  font-weight: bold;
}

.timezone {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

@media (max-width: 768px) {
  .box {
    height: 50px;
  }
  .date {
    height: 26px;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 5px;
  }
  .divider {
    height: 30px !important;
    margin: 5px !important;
  }
  .container {
    padding-top: 12px !important;
  }

  .time {
    font-size: 12px;
  }

  .timezone {
    font-size: 14px;
  }
}

.blueTitle{
  font-family: Overpass;
  font-style: normal;
  font-weight: 800;
  font-size: 32px !important;
  line-height: 59px !important;
  color: #003A8C !important;
}