@import '../../styles/variables.scss';

.creatorProfilePage {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 50px;
}

// .editDynamicProfileButtonContainer {
//   position: fixed;
//   left : 20px;
//   bottom : 20px;
//   z-index : 30;
//   padding: 8px;

//   @media screen and (max-width: 576px) {
//     bottom : 50px;
//   }

//   .dynamicProfileButtons {
//     border-radius: 50% !important;
//     width: 50px !important;
//     height: 50px !important;
//     padding: 8px !important;
//   }
// }

.darkBlueBtn {
  background-color: map-get($map: $colors, $key: 'EasternBlue') !important;
  border-color: map-get($map: $colors, $key: 'EasternBlue') !important;
}

.orangeBtn {
  background-color: map-get($map: $colors, $key: 'Pumpkin') !important;
  border-color: map-get($map: $colors, $key: 'Pumpkin') !important;
}