@import '../../styles/variables.scss';

.editDynamicProfileButtonContainer {
  position: fixed;
  left : 20px;
  bottom : 20px;
  z-index : 30;

  .dynamicProfileButtons {
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    padding: 8px !important;
  }
}

.dndHandle {
  text-align:center;
  height: 40px;
  max-width: 120px;
  margin: 0 auto -12px;
  padding: 8px 4px;
  background-color: map-get($map: $colors, $key: 'PaleCornflowerBlue');
  border: 1px solid map-get($map: $colors, $key: 'AliceBlue');
  border-radius: 12px 12px 0 0;
}

.darkBlueBtn {
  background-color: map-get($map: $colors, $key: 'EasternBlue') !important;
  border-color: map-get($map: $colors, $key: 'EasternBlue') !important;
}

.orangeBtn {
  background-color: map-get($map: $colors, $key: 'Pumpkin') !important;
  border-color: map-get($map: $colors, $key: 'Pumpkin') !important;
}