@import '../../../../styles/variables.scss';

$card-border-radius: 8px;

.sessionListCard {
  border-radius: $card-border-radius !important;
  cursor: pointer;
  background-color: var(--session-list-card-background-color, #{map-get($map: $colors, $key: 'White')}) !important;
  border: 1px solid map-get($map: $colors, $key: 'Silver') !important;

  .sessionCoverContainer {
    position: relative;

    .extraTagsContainer {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 5;
    }

    .sessionImageContainer {
      text-align: center;

      .sessionImage {
        border-radius: $card-border-radius $card-border-radius 0 0;
        object-fit: scale-down;
        // height: 100%;
        border: 1px solid map-get($map: $colors, $key: 'Silver') !important;
      }
    }
  }

  .sessionTitle {
    height: 52px;
    padding: 12px;
    overflow: hidden;
    color: var(--passion-profile-darker-color, var(--session-list-card-font-color, #{map-get($map: $colors, $key: 'PrussianBlue')})) !important;

    &.textLength28 {
      font-size: 16px;
    }
    &.textLength56 {
      font-size: 14px;
    }
    &.textLength84 {
      font-size: 12px;
    }
  }

  .sessionDescriptionContainer {
    padding: 8px 12px;
  }

  .cardFooter {
    border-top: 1px solid map-get($map: $colors, $key: 'WhiteSmoke1');
    padding: 8px 4px;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    background-color: map-get($map: $colors, $key: 'White');
    // background: linear-gradient(210deg, map-get($colors, 'White') 0%, var(--passion-profile-lighter-color, var(--session-list-card-background-color, #{map-get($colors, 'White')})) 150%) !important;
    box-shadow: inset 0px 1px 0px map-get($map: $colors, $key: 'Lavender');
    border-radius: 0 0 $card-border-radius $card-border-radius;

    @media screen and (max-width: 992px) and (min-width: 768px) {
      font-size: 12px;
    }

    @media screen and (max-width: 526px) and (min-width: 421px) {
      font-size: 16px;
    }

    // @media screen and (max-width: 420px) {
    //   font-size: 14px;
    // }

    .sessionDayTagsContainer {
      .sessionTags {
        text-align: center;
        font-size: 12px;

        @media screen and (max-width: 992px) and (min-width: 768px), (max-width: 420px) {
          font-size: 11px;
          padding: 0 4px;
          margin-right: 4px;
        }
      }

      .sessionTagsDisabled {
        @extend .sessionTags;
        opacity: 0.4;
      }
    }

    .footerText {
      color: var(--passion-profile-darker-color, var(--session-list-card-font-color, #{map-get($map: $colors, $key: 'PrussianBlue')})) !important;
    }

    .footerDivider {
      margin: 0 6px;
    }

    .priceText {
      @extend .footerText;
      font-weight: 500;
    }
  }
}
