@import '../../../styles/variables.scss';

.subscriptionPluginContainer {
  padding: 10px;
  background-color: var(--membership-widget-background-color, transparent);
  width: 100%;
}

// TODO: Match this with CSS Vars for subscription plugin
.signupButton {
  background-color: var(--membership-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
  border-color: var(--membership-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
  color: var(--membership-plugin-cta-font-color, #{map-get($colors, 'White')}) !important;
}

.subscriptionItem {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--primary-color-lightest, #{map-get($colors, 'AliceBlue')});
  border: 1px solid var(--primary-color-lightest, #{map-get($colors, 'AliceBlue')});
  border-top: 8px solid var(--primary-color-light, #{map-get($colors, 'ColumbiaBlue')});

  .subscriptionName {
    text-align: center !important;
    color: var(--primary-color-dark, #{map-get($colors, 'PrussianBlue')}) !important;
    font-weight: 700 !important;
  }

  .subscriptionDivider {
    margin: 0 0 8px !important;
  }

  .subscriptionIcon {
    color: var(--primary-color, #{map-get($colors, 'DodgerBlue')});
    margin-right: 8px;
  }

  .subscriptionDetailsContainer {
    margin-left: 16px !important;
    color: var(--primary-color-dark, #{map-get($colors, 'PrussianBlue')});
    font-weight: 600;
  }

  .subscriptionBuyButton {
    margin-top: 12px !important;
    background-color: var(--primary-color, #{map-get($colors, 'DodgerBlue')}) !important;
    border-color: var(--primary-color, #{map-get($colors, 'DodgerBlue')}) !important;

    .subscriptionBuyDivider {
      border-left-color: map-get($map: $colors, $key: 'White') !important;
      height: 1.2em;
    }
  }

  .subscriptionDetailsButton {
    color: var(--primary-color-dark, #{map-get($colors, 'PrussianBlue')});
    font-weight: 500;
  }
}
