@import '../../../../styles/variables.scss';

.reactionPopover {
  padding: 0px;

  :global {
    .ant-popover-arrow {
      border-color: map-get($map: $colors, $key: 'Black');
    }

    .ant-popover-inner {
      border-radius: 40px;
    }
  }

  :global {
    .str-chat__reaction-selector {
      position: relative !important;
      width: fit-content !important;
      height: 30px !important;
  
      > ul {
        margin: 0 !important;
      }
    }
  }
}

.feedContainer {
  border: 1px solid map-get($map: $colors, $key: 'WhiteSmoke');
  border-radius: 8px;
  margin: 8px;
  padding: 8px;

  .messageAuthor {
    margin-bottom: 0px;
  }

  .simpleDivider { 
    margin: 0;
  }

  .likeButton {
    border: none;
  }

  .replyCountContainer {
    text-align: right;
    align-self: center;
  }

  .messageTextWrapper {
    width: 100%;
    padding: 20px;
  
    .messageText {
      background-color: transparent;
      border: none;
    }
  }
}

.messageReplyContainer {
  padding-left: 40px;
  display: block;

  .editingOverlay {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .messageReplyItem {

  
    .replyActionButtons {
      font-size: 12px;
    }
  
    :global {
      .ant-comment-actions {
        margin-top: 4px !important;
      }
  
      .str-chat__message-text {
        width: 100%;
        
        .str-chat__message-text-inner {
          max-width: 100%;
          border: none;
          background: map-get($map: $colors, $key: 'White');
        }
      }
    }
  }
}

