@import '../../styles/variables.scss';

.cleanCard {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

  .cardImage {
    height: 150px;
    object-fit: cover;
  }

  .playIconWrapper {
    margin-top: -50px;

    .playIcon {
      color: map-get($map: $colors, $key: 'White');
      font-size: 20px;
    }
  }

  .textWrapper {
    .titleWrapper {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 15px;
    }

    .detailsWrapper {
      @extend .mb20;

      .validityText,
      .priceText {
        @extend .blueText;
      }
    }

    .buttonWrapper {
      .detailBtn {
        border: 1px solid map-get($map: $colors, $key: 'DodgerBlue');
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .cleanCard {
    .cardImage {
      height: 120px;
    }
  }
}

@media screen and (max-width: 769px) {
  .cleanCard {
    .cardImage {
      height: 200px;
    }

    .textWrapper {
      .titleWrapper {
        height: 60px;
        white-space: normal;
      }

      .detailsWrapper {
        font-size: 12px;
      }
    }
  }
}
