@import '../../styles/variables.scss';

.newCourseDetails {
  .longContentWrapper {
    p,
    span {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
      background-color: map-get($map: $colors, $key: 'White') !important;
    }
  }

  .creatorProfileImage {
    width: 100%;
    object-fit: cover;
  }

  .courseModules {
    width: 100%;

    .moduleHeader {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
    }

    // TODO: Move these hard coded colors to colors.scss  
    :global {
      .ant-collapse-header {
        background-color: #C4C4C4;
        border-radius: 8px !important;
      }
    }
  }

  // Old styling starts here

  &.dashboardPadding {
    padding: 10px 30px;
  }

  .showcaseCourseCard {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  }

  .courseImageWrapper {
    height: fit-content;
    .courseImage {
      border-radius: 5px;
      object-fit: fill;
    }
  }

  .courseName{
    font-size: 48px;
    line-height:52px;
    font-weight: 700;
    color: #fff !important;
  }

  .courseDetailsWrapperText{
    color: #fff !important;
  }

  .courseInfoWrapper {
    .courseDetailsWrapper {
      font-size: 14px;
    }

    .coursePriceWrapper {
      font-size: 16px;
    }
  }

  .buyButtonWrapper {
    align-self: center;
  }
}

@media screen and (max-width: 992px) {
  .showcaseCourseCardWrapper {
    .courseInfoWrapper {
      .courseNameWrapper {
        font-size: 14px;
        height: 58px;
      }

      .courseDetailsWrapper {
        font-size: 13px;
      }

      .coursePriceWrapper {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .showcaseCourseCardWrapper {
    .courseInfoWrapper {
      .courseNameWrapper {
        font-size: 16px;
        height: 58px;
      }

      .courseDetailsWrapper {
        font-size: 16px;
      }

      .coursePriceWrapper {
        font-size: 16px;
      }
    }
  }
}
