@import '../../styles/variables.scss';

.headerContainer {
  height: 50px;
  padding: 5px;
}
.navItemWrapper {
  text-align: end;
}
.navItem {
  cursor: pointer;
}
.navItemIcon {
  margin-right: 5px;
}
.logo {
  height: 40px;
  margin-left: 5px;
}
.isActiveNavItem {
  color: map-get($colors, 'DodgerBlue');
}
.logout {
  margin-left: 100px;
}

@media (max-width: 767px) {
  .navItemWrapper {
    text-align: center;
    align-self: center;
  }
  .logoWrapper {
    text-align: center;
  }
  .logout {
    margin-left: 10px;
    float: right;
    margin-top: -5px;
  }
}

@media (max-width: 425px) {
  .headerContainer {
    height: 90px;
    padding: 5px;
  }
}
