@import '../../styles/variables.scss';

.navSwitchWrapper {
  min-height: 44px;
  width: clamp(100px, 240px, 400px);
  display: inline-block;
}

.navSwitchItem {
  padding: 8px 4px;
  color: map-get($map: $colors, $key: 'Black');
}

input[checked] + .navSwitchItem {
  color: map-get($map: $colors, $key: 'White');
}

.headerContainer {
  height: 50px;
  padding: 5px;
}
.navItemWrapper {
  text-align: end;
}
.navItem {
  cursor: pointer;
}
.navItemIcon {
  margin-right: 5px;
}
.logo {
  height: 40px;
  margin-left: 5px;
}
.isActiveNavItem {
  color: map-get($colors, 'DodgerBlue');
}
.logout {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .navItemWrapper {
    text-align: center;
    align-self: center;
  }
  .logoWrapper {
    text-align: center;
  }
  .logout {
    margin-left: 0px;
    float: right;
    margin-top: 4px;
  }
}

@media (max-width: 426px) {
  .headerContainer {
    height: 96px;
    padding: 5px;
  }

  .navSwitchWrapper {
    margin: 4px 0;
  }

  .logout {
    margin-top: -40px;
  }
}
