.text {
  display: block;
}
.subText {
  margin-top: 0px !important;
  font-weight: 600;
}
.downloadButton {
  padding: 0px !important;

  span {
    &[role='img'] {
      vertical-align: top;
      margin-top: 4px;
    }

    white-space: break-spaces;
    text-align: start;
  }
}

.linkBtn {
  padding: 0px !important;
}