@import '../../../styles/variables.scss';

.sessionListPluginContainer {
  background-color: var(--session-list-widget-background-color);
  width: 100%;

  .sessionListContainer {
    max-width: 767px;
    min-height: 700px;
    margin : 0 auto;
  }
}