@import '../../../styles/variables.scss';

.stripeContainer {
  @extend .mt50;
  background-color: map-get($colors, 'White');
  padding: 50px;
  .connectBtn {
    text-align: center;
  }
}

.comparisonContainer {
  @extend .box;
  height: 100%;
}

.dividerWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 769px) {
    margin: 16px 0 32px;
  }

  .lineDivider {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: map-get($map: $colors, $key: 'SuvaGrey');
    z-index: 1;

    @media screen and (max-width: 769px) {
      width: 100%;
      height: 1px;
      left: 0;
    }
  }

  .lineWordWrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin-top: -12px;
    z-index: 2;

    @media screen and (max-width: 769px) {
      top: 0;
      margin-top: -18px;
    }

    .lineWord {
      background: map-get($colors, $key: 'White1');
      padding: 3px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 768px) {
  .stripeContainer {
    padding: 20px;
    .connectBtn {
      margin-top: 20px;
      text-align: left;
    }
  }
}
