@import '../../../styles/variables.scss';

.inventoryListPluginContainer {
  padding: 6px;
  width: 100%;
  background: transparent;
}

.helperText {
  color: var(--inventory-list-plugin-inventory-font-color, #{map-get($colors, 'Black')}) !important;
}

.monthPickerContainer {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;

  .monthHeader {
    text-align: center;
    font-size: 28px !important;
    margin-bottom: 0px !important;
    color: var(--inventory-list-plugin-month-font-color, #{ map-get($map: $colors, $key: 'PrussianBlue')}) !important;
  }

  .monthArrowButton {
    background-color: var(--inventory-list-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
    border-color: var(--inventory-list-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
    color: var(--inventory-list-plugin-cta-font-color, #{map-get($colors, 'White')}) !important;

    &:disabled {
      background-color: #f5f5f5 !important;
      border-color: #f5f5f5 !important;
      color: rgba(0,0,0,0.25) !important;
    }
  }
}

.dateContainer {
  width: 100%;
  padding: 0 8px;

  .dateHeading {
    font-size: 20px;
    color: var(--inventory-list-plugin-date-heading-font-color, #{map-get($map: $colors, $key: 'White')}) !important;
    background-color: var(--inventory-list-plugin-date-heading-background-color, #{map-get($map: $colors, $key: 'PrussianBlue')}) !important;
    border-radius: 8px;
    padding: 8px 12px;
  }

  .dateInventoriesContainer {
    width: 100%;

    .inventoryItem {
      padding: 10px 0;
      border-bottom: 1px solid map-get($map: $colors, $key: 'Silver');

      &:last-child {
        border-bottom: none;
      }

      .inventoryStartTime {
        width: 100%;
        display: block;
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: var(--inventory-list-plugin-inventory-font-color, #{map-get($colors, 'Black')}) !important;
      }
  
      .inventoryDuration {
        font-size: 12px;
        width: 100%;
        display: block;
        text-align: center;
        color: var(--inventory-list-plugin-inventory-font-color, #{map-get($colors, 'Black')}) !important;
      }
  
      .inventoryTitle {
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        line-height: 20px;
        color: var(--inventory-list-plugin-inventory-font-color, #{map-get($colors, 'Black')}) !important;
      }

      .inventoryDesc {
        margin-top: 8px;
        max-height: 78px;
        overflow: hidden;
        font-size: 16px;
      }

      .inventoryDesc * {
        background-color: transparent !important;
        font-size: 14px !important;
      }

      .inventoryImage {
        width: 100%;
      }

      .bookButton {
        background-color: var(--inventory-list-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
        border-color: var(--inventory-list-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
        color: var(--inventory-list-plugin-cta-font-color, #{map-get($colors, 'White')}) !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .monthPickerContainer {
    .monthHeader {
      font-size: 16px !important;
    }
  }

  .dateContainer {
    .dateHeading {
      font-size: 16px !important;
    }

    .dateInventoriesContainer {
      .inventoryItem {
        .inventoryTitle {
          font-size: 14px !important;
          line-height: 18px !important;
        }

        .inventoryDesc {
          font-size: 12px;
        }

        .inventoryDesc * {
          font-size: 12px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .monthPickerContainer {
    .monthHeader {
      font-size: 14px !important;
    }

    .monthArrowButton {
      width: 32px !important;
      height: 32px !important;
      font-size: 14px !important;
      padding: 3px !important;
    }
  }

  .dateContainer {
    .dateHeading {
      font-size: 14px !important;
    }

    .dateInventoriesContainer {
      .inventoryItem {
        .bookButton {
          width: 100% !important;
          max-width: 120px !important;
          height: 32px !important;
          font-size: 11px !important;
          padding: 3px !important;
        }
      }
    }
  }
}