@import '../../../styles/variables.scss';

.greenBtn {
  color: map-get($map: $colors, $key: 'KellyGreen') !important;
}

.cardExpansion {
  border: 2px solid map-get($map: $colors, $key: 'White1');
  background-color: map-get($map: $colors, $key: 'White');
  padding: 8px;
  margin-bottom: 20px;
}