@import '../../../styles/variables.scss';

.courseButton {
  color: map-get($map: $colors, $key: 'Green') !important;
  border-color: map-get($map: $colors, $key: 'Green') !important;
}

.courseButton:hover {
  opacity: 0.7;
  color: map-get($map: $colors, $key: 'Green') !important;
  border-color: map-get($map: $colors, $key: 'Green') !important;
}

.passesButton {
  color: map-get($map: $colors, $key: 'Pumpkin') !important;
  border-color: map-get($map: $colors, $key: 'Pumpkin') !important;
}

.passesButton:hover {
  opacity: 0.7;
  color: map-get($map: $colors, $key: 'Pumpkin') !important;
  border-color: map-get($map: $colors, $key: 'Pumpkin') !important;
}