@import '../../../../styles/variables.scss';

.threadReplyInput {
  padding: 0 20px 0 40px;
  background-color: map-get($map: $colors, $key: 'WhiteSmoke') !important;
}

.inputReplyContainer {
  :global {
    .str-chat__send-button {
      display: block;
    }
  }

  .emojiButton {
    border: none;
    margin-left: auto;
    background: transparent;
  
    .emojiIcon {
      font-size: 20px;
    }
  }  
}

.emojiPopupContainer {
  :global {
    .str-chat__input--emojipicker {
      position: relative;
    }
  }
}