@import '../../../../styles/variables.scss';

.membershipItem {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  .membershipName {
    width: fit-content;
    color : var(--ternary-color);
    font-weight : 600;
    border-bottom : 1px solid var(--secondary-color);

    &.textLength25 {
      font-size : 20px;
    }

    &.textLength50 {
      font-size : 14px;
    }
  }

  .arrowSignContainer {
    max-width: 44px;
    align-items: center;
    justify-content: center;
    padding: 4px;

    .arrowSign {
      color: var(--secondary-color);
      font-size: 16px;
    }
  }

  .membershipDetails {
    font-size : 13px;
    color : var(--ternary-color);
  }

  .membershipPrice {
    color : var(--ternary-color);
    text-align: right;
  }
}