@import '../../../styles/variables.scss';

.videoPluginContainer {
  background-color: var(--video-widget-background-color);
  min-height: 700px;
  width: 100%;

  .videoListContainer {
    max-width: 767px;
    margin : 0 auto;
    padding : 8px 0;
  }
}