@import '../../../styles/variables.scss';

.videoPluginContainer {
  background-color: var(--video-widget-background-color);
  width: 100%;

  .videoListContainer {
    margin: 0 auto;
    padding: 12px;

    .videoGroupName {
      font-size: 20px;
      font-weight: 500;
    }

    .horizontalVideoList {
      flex-flow: row nowrap !important;
      overflow-x: scroll;
      padding-bottom: 6px !important;
    
      &::-webkit-scrollbar {
        height: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: var(--passion-profile-light-color, #{map-get($map: $colors, $key: 'WhiteSmoke1')});
        border: 3px solid var(--passion-profile-light-color, #{map-get($colors, 'White')});
      }
    
      &::-webkit-scrollbar-track {
        background: var(--passion-profile-lightest-color, #{map-get($colors, 'White1')});
      }
    }
  }
}
