@import '../../../styles/variables.scss';

.videoPluginContainer {
  background-color: var(--video-widget-background-color, transparent);
  width: 100%;

  .filterSection {
    margin-bottom: 30px;

    .filterButton {
      background-color: var(--video-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
      border-color: var(--video-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
      color: var(--video-plugin-cta-font-color, #{map-get($colors, 'White')}) !important;
    }

    .filterContainer {
      .filterLabel {
        color: var(--video-plugin-text-color, #{map-get($map: $colors, $key: 'ResolutionBlue')}) !important;
      }
      .filterDropdown {
        min-width: 300px;
      }
    }
  }

  .videoListContainer {
    margin: 0 auto;
    padding: 12px;

    .videoGroupName {
      font-size: 20px;
      font-weight: 500;
      color: var(--video-plugin-text-color, #{map-get($map: $colors, $key: 'ResolutionBlue')}) !important;
    }

    .seeAllButton {
      color: var(--video-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
      font-weight: 500;
    }

    .backButton {
      color: var(--video-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
      border-color: var(--video-plugin-cta-background-color, #{map-get($colors, 'DodgerBlue')}) !important;
    }

    .horizontalVideoList {
      flex-flow: row nowrap !important;
      overflow-x: scroll;
      padding-bottom: 6px !important;
    
      &::-webkit-scrollbar {
        height: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        border: 3px solid var(--passion-profile-light-color, #{map-get($colors, 'White')});
      }
    }
  }
}
