@import '../../styles/variables.scss';

// We'll be basing the max-width on Ant Design's md breakpoint (768px)
$navbar-height: 66px;

.mainContainer {
  height: 100%;
  background-color: var(--passion-profile-background-color,  #{map-get($colors, 'WhiteSmoke1')}) !important;

  .mainContent {
    max-width: 767px;
    width: 100%;
  }

  &.withTopHeader {
    margin-top: $navbar-height;
    min-height: calc(100vh - #{$navbar-height}) !important;
  }
}

.topHeader {
  background-color: map-get($colors, 'White') !important;
  border-bottom: 1px solid map-get($map: $colors, $key: 'WhiteSmoke1');
  padding: 0 20px !important;
  position: fixed;
  z-index: 99;
  width: 100vw;
}
