@import '../../styles/variables.scss';

// We'll be basing the max-width on Ant Design's md breakpoint (768px)
$navbar-height: 64px;

.mainContainer {
  height: 100%;
  // background-color: map-get($colors, 'WhiteSmoke1') !important;
  // background-color: var(--passion-profile-lightest-color, #{map-get($map: $colors, $key: 'White')}) !important;
  background: linear-gradient(
    259.47deg,
    var(--passion-profile-backdrop-color, #{map-get($map: $colors, $key: 'White')}) 2.46%,
    #{map-get($map: $colors, $key: 'White')} 109.66%
  );

  .mainContent {
    max-width: var(--passion-profile-max-width, 767px);
    width: 100%;
  }

  &.withTopHeader {
    margin-top: $navbar-height;
    min-height: calc(100vh - #{$navbar-height}) !important;
  }
}
