@import '../../../styles/variables.scss';

.paymentOptionCard {
  border: 1px solid map-get($map: $colors, $key: 'Silver') !important;
  border-radius: 8px;
  width: 100%;

  &.active,
  &.active:hover {
    border: 2px solid map-get($map: $colors, $key: 'DodgerBlue') !important;
    font-weight: 500;
  }

  &.disabled {
    background-color: map-get($map: $colors, $key: 'Silver') !important;
  }

  .paymentOptionName {
    font-size: 12px;
  }

  .paymentIcon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 769px) {
  .paymentOptionCard {
    .paymentIcon {
      width: 26px;
      height: 26px;
    }
  }
}

@media screen and (max-width: 425px) {
  .paymentOptionCard {
    .paymentOptionName {
      font-size: 10px;
    }
  }
}
