@import '../../../styles/variables.scss';

// TODO: Override some Stream Variables here as required

:global {
  .str-chat__main-panel {
    padding: 0px !important;
  }
  .str-chat__header-livestream {
    border-radius: 0px !important;
  }

  .str-chat__thread {
    height: 100%;
  }
}

.channelHeaderContainer {
  background-color: map-get($map: $colors, $key: 'White') !important;
}

.channelWindowContainer {
  padding: 20px;
  background-color: map-get($map: $colors, $key: 'Quartz') !important;

  @media screen and (max-width: 993px) {
    padding: 0;
  }

  .channelMemberListContainer {
    background-color: map-get($map: $colors, $key: 'ClearDay') !important;

    @media screen and (min-width: 768px) {
      flex: 0 0 auto !important;
      max-width: 300px !important;
      width: 100% !important;
    }
    @media screen and (max-width: 767px) {
      position: absolute !important;
      right: 0;
      height: 100%;
    }
  }
}

.userHeaders {
  display: flex;
  align-items: center;
}