@import '../../styles/variables.scss';

.imageContainer {
  height: 100%;
  position:relative;

  .imageHoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    color: map-get($map: $colors, $key: 'White');
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    opacity: 0;

    &:hover {
      opacity: 1;
      transition: 0.3s linear;
    }

    .helpText {
      margin: auto;
    }
  }

  .image {
    // min-height: 300px;
    height: 100%;
    object-fit: scale-down;
  }
}

.showBorder {
  :global {
    .ant-upload-select-picture-card {
      border: 1px dashed map-get($colors, $key: 'Gainsboro') !important;
    }
  }
}
.hideBorder {
  :global {
    .ant-upload-select-picture-card {
      border: none !important;
    }
  }
}
