@import '../../styles/variables.scss';

.numericInput {
  width: 100% !important;
}

.modalActionRow {
  margin-top: 10px;
}

.helpTextWrapper {
  text-align: center;
  align-self: center;
  font-size: 16px;
}