@import '../../styles/variables.scss';

.box {
  background: map-get($colors, 'White1');
  border-radius: 6px;
  padding: 15px;
}
.nameInputWrapper {
  margin: 0px !important;
}
.nameInput {
  max-width: 180px;
  display: inline-block !important;
  margin-right: 10px !important;
}
.emailInput {
  input {
    max-width: 370px;
  }
}
.passwordInput {
  span {
    max-width: 370px;
  }
}

.passwordHelpText {
  margin-top: -30px;
  max-width: 370px;

  .span {
    color: map-get($colors, 'Charcoal') !important;
  }

  
}

.linkBtn {
  padding: 0px !important;
  cursor: pointer;
  color: map-get($colors, 'DodgerBlue') !important;
}

.roundBtn {
  cursor: pointer;
  margin-top: 5px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: solid 1px map-get($colors, 'NightRider');
}
.roundBtn:hover{
  border: solid 1px map-get($colors, 'DodgerBlue');
}

@media (max-width: 768px) {
  .nameInput {
    max-width: 100%;
    display: block !important;
    margin-right: 10px !important;
  }
}
