@import '../../styles/variables.scss';

.box {
  background: #fafafa;
  border-radius: 6px;
  padding: 15px;
}
.nameInputWrapper {
  margin: 0px !important;
}
.nameInput {
  max-width: 180px;
  display: inline-block !important;
  margin-right: 10px !important;
}
@media (max-width: 768px) {
  .nameInput {
    max-width: 230px;
  }
}
