@import '../../styles/variables.scss';

.headerContainer {
  height: 50px;
  padding: 5px;
}
.navItemWrapper {
  text-align: end;
}
.navItem {
  cursor: pointer;
}
.navItemIcon {
  margin-right: 5px;
}
.logo {
  height: 40px;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .headerContainer {
    height: 90px;
    padding: 5px;
  }
}
