@import '../../styles/variables.scss';

.atc {
  width: fit-content;
  display: block;

  .atcWrapper {
    font-size: 14px;

    &.button {
      border-radius: 5px;
      border: 1px solid map-get($map: $colors, $key: 'DodgerBlue');
      color: map-get($map: $colors, $key: 'DodgerBlue');
      padding: 4px 15px;
      margin-top: 0px;      
    }
  }

  .atcDropdown {
    margin-top: 5px;
    min-width: 150px;
    z-index: 10;
    position: absolute;
    background: #fff;
    border: 1px solid darkgrey;
    padding: 5px 10px;

    ul {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style-type: none;
      li {
        margin: 10px 0px;

        i {
          margin-right: 8px;
        }
      }
    }
  }
}
