@import '../../../styles/variables.scss';

.videoDetailsPage {
  min-height: calc(100vh - 66px);

  padding: 20px;
  @media screen and (max-width: 768px) {
    padding: 10px;
  }

  @media screen and (max-width: 526px) {
    padding: 8px;
  }

  .videoTitle {
    margin-bottom: 0 !important;
    font-size: 28px !important;

    @media screen and (max-width: 768px) {
      font-size: 20px !important;
    }

    @media screen and (max-width: 526px) {
      font-size: 24px !important;
    }
  }

  .videoDetailsSection {
    padding: 12px 20px !important;
  }

  .videoDetailsContainer {
    .videoDetailItem {
      .detailIcons {
        margin-right: 6px;
      }
    }
  }

  .videoDescContainer {
    min-width: 100%;

    .videoDocumentUrl {
      margin-top: 12px;
    }

    .videoDesc {
      margin-top: 12px;
    }

    .videoDesc * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
      background: transparent !important;
      color: var(--passion-profile-darker-color, #{map-get($colors, 'Black')}) !important;
    }
  }

  .videoImageContainer {
    padding: 8px;

    .videoImage {
      border-radius: 12px;
      width: 100%;
    }
  }
}

.videoBuyBtn {
  padding: 8px 16px;
  height: 100%;
  background-color: var(--passion-profile-primary-color, #{map-get($map: $colors, $key: 'DodgerBlue')}) !important;
  border-color: var(--passion-profile-primary-color, #{map-get($map: $colors, $key: 'DodgerBlue')}) !important;

  &.darkText {
    .buyBtnText {
      color : map-get($map: $colors, $key: 'Zeus') !important;
    }

    .buyBtnDivider {
      height: 1.5em;
      border-left-color : map-get($map: $colors, $key: 'Zeus') !important;
    }
  }

  &.lightText {
    .buyBtnText {
      color : map-get($map: $colors, $key: 'White') !important;
    }

    .buyBtnDivider {
      height: 1.5em;
      border-left-color : map-get($map: $colors, $key: 'White') !important;
    }
  }

  .buyBtnTextContainer {
    height: 100%;
  }
}

.buyUsingPassContainer, .buyUsingMembershipContainer {
  background-color: var(--passion-profile-light-color, #{map-get($map: $colors, $key: 'AliceBlue')});
  padding: 16px;
  border-radius: 8px;
}

.paymentInstrumentsContainer {
  padding: 20px;

  .paymentInstrumentHeadingContainer {
    .paymentInstrumentHeadingDivider {
      height: 3em;
      border-left-color: map-get($map: $colors, $key: 'Black');
    }
  }

  .paymentInstrumentSelectContainer {
    .paymentInstrumentSelectHeading {
      text-align: center;
    }
    
    .paymentInstrumentSelectDescription {
      text-align: center;
    }
  }
}