@import '../../../styles/variables.scss';

.dndHandle {
  color: map-get($map: $colors, $key: 'Cobalt');
  height: 100%;
  margin: auto;
  max-width: 120px;
  padding: 8px 4px;
  text-align: center;
}
