@import '../../../styles/variables.scss';

.dndHandle {
  text-align:center;
  height: 64px;
  max-width: 120px;
  margin: 0 auto;
  padding: 8px 4px;
  background-color: map-get($map: $colors, $key: 'PaleCornflowerBlue');
  border: 1px solid map-get($map: $colors, $key: 'AliceBlue');
  border-radius: 12px 0 0 12px;
  line-height: 42px;
}