@import '../../../styles/variables.scss';

.detailsButton {
  padding-left: 0px !important;
}
.danger {
  color: map-get($colors, $key: 'FireBrick') !important;
}
.success {
  color: map-get($colors, $key: 'KellyGreen') !important;
}
.warning {
  color: map-get($colors, $key: 'Pumpkin') !important;
}
.helperText {
  display: block;
}
.sessionNameWrapper {
  margin-left: -40px;
  text-align: left;
}