@import '../../../styles/variables.scss';

.detailsButton {
  padding-left: 0px !important;
}

.helperText {
  display: block;
}

.mobileDetailsText {
  font-size: 13px;
}

.thumbnailImage {
  width: 100%;
  object-fit: scale-down;
}