@import '../../../styles/variables.scss';

.courseOrderContainer {
  padding: 20px;
  background-color: map-get($map: $colors, $key: 'White') !important;

  @media screen and (max-width: 768px) {
    padding: 12px 4px;
  }

  .courseOrderDetailsContainer {
    .courseImage {
      width: 100%;
      min-height: 120px;
      object-fit: scale-down;
      border-radius: 4px;
    }

    .courseTitle {
      font-size: 24px;
    }

    .courseDescription * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
      background-color: transparent !important;
    }

    .contentTag {
      padding: 4px 8px;
    }

    .progressPercent {
      @extend .greenText;

      .percentText {
        font-size: 24px;
      }

      font-size: 14px;
    }
  }

  .courseCurriculumSection {
    .courseCurriculumContainer {
      .courseCurriculumText {
        font-size: 24px;
      }

      .courseModules {
        width: 100%;
        padding: 4px 12px 12px;

        @media screen and (max-width: 768px) {
          padding: 4px 0;
        }

        .curriculumExpandIcon {
          color: map-get($colors, 'Denim') !important;
          font-size: 16px !important;
        }

        .moduleHeader {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: map-get($colors, 'Denim');
        }

        :global {
          .ant-collapse-header {
            margin-top: 12px;
            background-color: map-get($map: $colors, $key: 'Lavender');
            border-radius: 8px !important;
          }

          .ant-collapse-content-box {
            padding: 4px !important;
          }
        }

        .mobileCourseModuleContainer {
          padding: 0 !important;

          .addToCalendarContainer {
            width: fit-content;
            margin: 0 auto;
          }

          :global {
            .ant-card-actions > li > span a:not(.ant-btn) {
              color: map-get($map: $colors, $key: 'DodgerBlue');
            }
          }
        }
      }
    }
  }
}
