@import '../../styles/variables.scss';

.linkBtn {
  padding: 0px !important;
  cursor: pointer;
  color: map-get($colors, 'DodgerBlue') !important;
}

.smallText {
  font-size: 11px;
}

.nameInputWrapper {
  margin: 0px !important;

  .firstNameInput {
    max-width: 128px;
    display: inline-block !important;
  }

  .lastNameInput {
    @extend .firstNameInput;
    margin-left: 8px !important;
  }
}
