@import '../../../../styles/variables.scss';

.containedCreatorProfileWrapper {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 0px 16px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: relative;
  background: linear-gradient(204.83deg, hsl(0, 0%, 100%) 0.14%, var(--passion-profile-light-color, hsl(210, 100%, 85%)) 122.54%) !important;

  .coverImageWrapper {
    .coverImage {
      border-radius: 12px 12px 0 0;
      max-height: 320px;
    }
  }
}

.creatorProfileWrapper {
  position: relative;

  .coverImageWrapper {
    .coverImage {
      min-height: 120px;
      width: 100%;
      height: 100%;

      @media screen and (min-width: 992px) {
        border-radius: 12px;
        // max-height: 320px;
      }
    }
  }
}


.creatorDetailsWrapper {
  margin-top: -6px;

  .profileImageWrapper {
    $profile-image-size: 100px;
    $profile-image-size-large: 150px;
    background: transparent;
    margin-top: calc(-1 * (#{$profile-image-size-large} * 0.5));
    
    @media screen and (max-width: 768px) {
      margin-top: calc(-1 * (#{$profile-image-size} * 0.5));
    }

    .profileImage {
      width: $profile-image-size-large;
      height: $profile-image-size-large;
      object-fit: cover;
      border: 4px solid map-get($map: $colors, $key: 'White');
      border-radius: 50%;

      @media screen and (max-width: 768px) {
        width: $profile-image-size;
        height: $profile-image-size;
      }
    }
  }

  .creatorUsername {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: var(--passion-profile-darker-color, #{map-get($colors, 'Smalt')}) !important;
  }

  .creatorProfileDivider {
    border-top: 1.5px solid var(--passion-profile-primary-color, #{map-get($map: $colors, $key: 'ColumbiaBlue')});
    margin: 4px auto;
    width: 80px;
    min-width: 0 !important;
  }

  .creatorBio {
    text-align: center;
    padding: 0 12px !important;

    .bio * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
      background-color: transparent !important;
      color: var(--passion-profile-darker-color, #{map-get($colors, 'Smalt')}) !important;
    }

    .collapsedBio {
      max-height: 72px;
      overflow: hidden;
    }

    .collapsedBio * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
        background-color: transparent !important;
        color: var(--passion-profile-darker-color, #{map-get($colors, 'Smalt')}) !important;
    }

    .readMoreBio {
      @extend .readMoreText;
      color: var(--passion-profile-primary-color, #{map-get($colors, 'Smalt')}) !important;
      margin: 8px 0;
      letter-spacing: 0.08em;
      cursor: pointer;
    }
  }
}

.socialIconWrapper {
  @extend .bottomBorderRadius;
  padding: 12px;
  text-align: center;

  .socialIconsList {
    text-align: center;
    background: map-get($map: $colors, $key: 'White');
    padding : 4px 20px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 0px 16px 2px rgba(0, 0, 0, 0.05);
    border-radius: 22.5px;
  }
}

.bottomBorderRadius {
  border-radius: 0 0 12px 12px;
}

.clickDisableOverlay {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
}
