@import '../../styles/variables.scss';

.courseSection {
  @extend .box;
  padding: 30px !important;
  
  @media screen and (max-width: 769px) {
    padding: 20px !important;
  }

  @media screen and (max-width: 526px) {
    padding: 8px !important;
  }
}

.textAreaInput {
  min-height: 200px !important;
}

.inlineFormItem {
  display: inline-block !important;
  margin-bottom: 0 !important;
}

.numericInput {
  min-width: 240px !important;
}

.currencyWrapper {
  font-size: 16px;
}

.imageWrapper {
  position: relative;
}

.coverImage {
  & > div {
    width: 100% !important;
    min-height: 330px;
  }
}
