@import '../../styles/variables.scss';

.courseSection {
  @extend .box;
  padding: 30px !important;
  
  @media screen and (max-width: 769px) {
    padding: 20px !important;
  }

  @media screen and (max-width: 526px) {
    padding: 8px !important;
  }
}

.inputWithButton {
  width: 80% !important;
  margin-right: 10px !important;
  display: inline-block;
}

.deleteItemIconButton {
  @extend .redText;
  font-size: 20px;
  margin: 0 auto;
}

.previewImageUploaderContainer {
  width: 100%;

  // adjust this
  .previewImageUploader {
    width: 100%;
    :global {
      div.ant-upload {
        width: 100% !important;
        // min-height: 200px !important;
        aspect-ratio: 1;
        height: 100%;
      }  
    }
  }
}

.previewImageContainer {
  position: relative;

  .previewImageButtonContainer {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 10;
  }

  .previewImage {
    width: 100%;
    object-fit: scale-down;
  }
}

.textAreaInput {
  > textarea {
    min-height: 120px !important;
  }
}

.inlineFormItem {
  display: inline-block !important;
  margin-bottom: 0 !important;
}

.numericInput {
  min-width: 240px !important;
}

.currencyWrapper {
  font-size: 16px;
}

.imageWrapper {
  position: relative;
}

.coverImage {
  & > div {
    width: 100% !important;
    min-height: 330px;
  }
}
