@import '../../../../../styles/variables.scss';

.toggleContainer {
  text-align: right;

  :global {
    .ant-ribbon-wrapper {
      margin-right: 8px;
    }
  }

  .saveRibbon {
    z-index: 2;
    top: -12px;
  }
}

.internalSubscriptionList {
  padding: 20px;

  @media screen and (min-width: 990px) and (max-width: 1100px), screen and (max-width: 900px) and (min-width: 756px) {
    padding: 8px;
  }
}