@import '../../../styles/variables.scss';

// TODO: Override some Stream Variables here as required

.channelHeaderContainer {
  background-color: map-get($map: $colors, $key: 'White') !important;
}

.channelWindowContainer {
  padding: 20px;
  background-color: map-get($map: $colors, $key: 'Quartz') !important;

  @media screen and (max-width: 993px) {
    padding: 0;
  }

  :global {
    .str-chat__main-panel {
      padding: 0px !important;
    }
    .str-chat__header-livestream {
      border-radius: 0px !important;
    }
    .str-chat__thread-list {
      .str-chat__list--thread {
      .str-chat__reverse-infinite-scroll {
        padding: 0px !important;
        .str-chat__ul {
          .str-chat__li--single, .str-chat__li--top, .str-chat__li--middle, .str-chat__li--bottom {
            margin: 0 !important;
          }
        }
      }
    }

    }
  }
  
  .channelMemberListContainer {
    padding: 0 10px;
    flex: 0 0 auto !important;
    max-width: 300px !important;
    width: 100% !important;
    background-color: map-get($map: $colors, $key: 'ClearDay') !important;
  }
}

.userHeaders {
  display: flex;
  align-items: center;
}