@import '../../../styles/variables.scss';

.channelHeaderContainer {
  background-color: map-get($map: $colors, $key: 'White') !important;

  @media screen and (max-width: 993px) {
    padding: 0 10px 0 50px !important;
  }
}

.channelWindowContainer {
  padding: 20px;
  background-color: map-get($map: $colors, $key: 'Quartz') !important;

  @media screen and (max-width: 993px) {
    padding: 0;
  }

  :global {
    .str-chat__main-panel {
      padding: 0px !important;
    }
    .str-chat__header-livestream {
      border-radius: 0px !important;
    }
    .str-chat__thread-list {
      .str-chat__list--thread {
        .str-chat__reverse-infinite-scroll {
          padding: 0px !important;
          .str-chat__ul {
            .str-chat__li--single,
            .str-chat__li--top,
            .str-chat__li--middle,
            .str-chat__li--bottom {
              margin: 0 !important;
            }
          }
        }
      }
    }
  }

  .channelMemberListContainer {
    background-color: map-get($map: $colors, $key: 'ClearDay') !important;

    @media screen and (min-width: 769px) {
      flex: 0 0 auto !important;
      max-width: 300px !important;
      width: 100% !important;
    }
    @media screen and (max-width: 769px) {
      position: absolute !important;
      right: 0;
      height: 100%;
    }
  }
}

.userHeaders {
  display: flex;
  align-items: center;
}
