@import '../../styles/colors';

.hidden {
  display: none;
}

.pageRenderer {
  :global {
    .gjs-off-prv {
      display: none !important;
    }
  }
}

:global {
  .gjs-pn-buttons {
    justify-content: space-around;
  }

  .custom-trait-layout {
    .custom-trait-label {
      margin-bottom: 12px;
    }
  }

  .padding-slider-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .padding-slider-text {
      flex: 0 0 24px;
      margin: 0 2px;
    }

    .padding-slider {
      flex: 1 1 auto;
    }
  }

  .padding-slider-value-container {
    width: 100%;
    text-align: left;
  }

  .text-section-layout-select, .image-position-select, .font-select {
    color: map-get($map: $colors, $key: 'Black');
    width: 100%;
    min-height: 24px;
  }

  .gjs-one-bg {
    background-color : map-get($map: $colors, $key: 'Cyprus');
  }

  .gjs-two-color {
    color: map-get($map: $colors, $key: 'White');
  }

  .gjs-four-color {
    color: map-get($map: $colors, $key: 'DodgerBlue');
  }
  
  .gjs-four-color-h:hover {
    color: map-get($map: $colors, $key: 'DodgerBlue');
  }

  // Continye this styling later
  // .trait-radio-button-container {
  //   display: flex;
  //   width: 100%;
  //   justify-content: space-around;

  //   .trait-radio-button {
  //     flex: 0 0 25%;
  //   }
  // }
}

