@import '../../../styles/variables.scss';

.detailsButton {
  padding-left: 0px !important;
}
.danger {
  color: map-get($colors, $key: 'FireBrick');
}
.card {
  margin-top: 10px !important;
}
.unpublished {
  opacity: 0.5;
}
.sessionNameWrapper {
  margin-left: -40px;
}