@import '../../../styles/variables.scss';

.detailsButton {
  padding-left: 0px !important;
}
.danger {
  color: map-get($colors, $key: 'FireBrick');
}
.card {
  margin-top: 10px !important;
}
.ant-table-cell .inner-table {
  margin-left: 54px;
  margin-bottom: 24px;
}