@import '../../../../styles/variables.scss';

$card-border-radius: 8px;

.courseListItem {
  border-radius: $card-border-radius !important;
  cursor: pointer;
  background-color: var(--course-card-background-color, #{map-get($map: $colors, $key: 'White')}) !important;
  border: 1px solid map-get($map: $colors, $key: 'Silver') !important;

  .courseCoverContainer {
    position: relative;

    .extraTagsContainer {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 5;
    }

    .courseImageContainer {
      text-align: center;

      .courseImage {
        border-radius: $card-border-radius $card-border-radius 0 0;
        object-fit: scale-down;
        border: 1px solid map-get($map: $colors, $key: 'Silver') !important;
      }
    }
  }

  .courseName {
    height: 52px;
    padding: 8px;
    overflow: hidden;
    color: var(--course-card-font-color, var(--passion-profile-darker-color, #{map-get($map: $colors, $key: 'Chambray')})) !important;

    &.textLength28 {
      font-size: 16px;
    }
    &.textLength56 {
      font-size: 14px;
    }
    &.textLength84 {
      font-size: 12px;
    }
  }

  .cardFooter {
    border-top: 1px solid map-get($map: $colors, $key: 'WhiteSmoke1');
    padding: 12px;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    color: var(--course-card-font-color, var(--passion-profile-darker-color, #{map-get($map: $colors, $key: 'Chambray')})) !important;
    background-color: var(--course-card-background-color, #{map-get($map: $colors, $key: 'White')}) !important;
    box-shadow: inset 0px 1px 0px map-get($map: $colors, $key: 'Lavender');
    border-radius: 0 0 $card-border-radius $card-border-radius;

    flex-wrap: nowrap;

    @media screen and (max-width: 992px) and (min-width: 768px) {
      font-size : 14px;
    }

    // @media screen and (max-width: 527px) {
    //   font-size: 14px;
    // }

    .timeText {
      font-weight: 500;
    }

    .priceText {
      text-align: right;
      font-weight: 600;
    }
  }
}
