@import '../../styles/variables.scss';

// html, body {
//     height: 100%;
//     background-color: #FAFAFA !important;
// }

.signupContainer {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    top: 340px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 80px;
    width: 490px;
}

.signupHeadingText{
    width: 368px;
    // font-family: Overpass;
    // font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 74px;    
    text-align: center;
    color: #434343;
}

.signupForm{
    width: 368px;
    text-align: center;
}

.signupHeadingSubtext{
    // font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #232323;
    padding-bottom: 40px;
}

.signupButton{
    border: 1px solid #FF820B !important ;
    width: 240px;
    height: 56px !important;
    background: linear-gradient(94.06deg, #FF820B 0%, rgba(255, 134, 19, 0.75) 106.52%) !important;
    border-radius: 8px !important;
    // font-family: Inter;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 24px !important;
}