@import '../../styles/variables.scss';

.signInWrapper {
  background: map-get($colors, 'White1');
  border-radius: 6px;
  padding: 15px;

  color : var(--passion-profile-darker-color, #{map-get($colors, 'Black')});
}

.signInTitle {
  color : var(--passion-profile-darker-color, #{map-get($colors, 'Black')}) !important;
}

.signInInput {
  min-width: 200px;
  max-width: 320px;
}

.signInButton {
  background-color: var(--passion-profile-primary-color, #{map-get($colors, 'DodgerBlue')}) !important;
  border-color: var(--passion-profile-primary-color, #{map-get($colors, 'DodgerBlue')}) !important;
}

.formContainer {
  margin-top : 10px;
}

.linkBtn {
  padding: 0px !important;
  color: var(--passion-profile-dark-color, #{map-get($colors, 'DodgerBlue')}) !important;
}
