@import '../../../styles/variables.scss';

.compactFormItem{
  margin-bottom: 0;
}

.StripeCustomElement {
  box-sizing: border-box;
  height: 40px;
  border-radius: 0.25rem;
  background-color: map-get($map: $colors, $key: 'White');
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid map-get($map: $colors, $key: 'WhiteSmoke2');
  box-shadow: 0 3px 8px map-get($map: $colors, $key: 'WhiteSmoke2');
  color: map-get($map: $colors, $key: 'Zeus');

  &.StripeCustomElementFocus,
  &:hover,
  &:focus {
    border-color: map-get($map: $colors, $key: 'DodgerBlue');
    box-shadow: 0 3px 8px map-get($map: $colors, $key: 'WhiteSmoke2');
  }

  &.StripeCustomElementInvalid {
    border: 1px solid map-get($map: $colors, $key: 'SunsetOrange');
  }

  &.StripeCustomElementComplete {
    border-color: map-get($map: $colors, $key: 'KellyGreen');
  }
}