@import '../../styles/variables.scss';

.showcaseCardContainer {
  padding: 10px 30px !important;
}

.passPriceText {
  text-align: right;
}

.passVideoListContainer {
  border: 1px solid map-get($map: $colors, $key: 'DarkGray');
  border-radius: 8px;
  padding: 16px !important;
  
  .passVideoThumbnail {
    height: 150px;
    object-fit:cover;
  }

  .playIconWrapper {
    margin-top: -15px;

    .playIcon {
      color: map-get($map: $colors, $key: 'White');
      font-size: 20px;
      z-index: 10;
    }
  }
}

.imageWrapper {
  position: relative;
  margin-top: 128px !important;
  background-color: map-get($map: $colors, $key: 'White1');
}
.coverImageWrapper {
  background-color: map-get($colors, $key: 'WhiteSmoke');
  text-align: center;
  border-radius: 8px;
  margin: -20px;
}
.coverImage img {
  border-radius: 8px;
  max-height: 300px;
}
.profileImageWrapper {
  max-height: 80px;
}
.profileImage {
  position: relative;
  border-radius: 4px;
  bottom: 80px;
  left: 50px;
  width: 100%;
}
.profileImage img {
  border: 2px solid map-get($colors, $key: 'White');
  max-width: 120px;
  border-radius: 4px;
}
.userName {
  position: absolute;
  bottom: -15px;
  left: 150px;
}
.shareButton {
  position: absolute;
  bottom: 0px;
  right: 100px;
}
.videoCard {
  margin: 10px 32px !important;
  border: 2px dashed map-get($map: $colors, $key: 'DodgerBlue') !important;

  .blueText {
    color: map-get($map: $colors, $key: 'DodgerBlue') !important;
  }
}

.bio {
  p,
  span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
    background-color: map-get($map: $colors, $key: 'White1') !important;
  }
}


.cleanCard {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

  .cardImage {
    height: 150px;
    object-fit: cover;
  }

  .playIconWrapper {
    margin-top: -50px;

    .playIcon {
      color: map-get($map: $colors, $key: 'White');
      font-size: 20px;
    }
  }

  .textWrapper {
    .titleWrapper {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 15px;
    }

    .detailsWrapper {
      @extend .mb20;

      .validityText, .priceText {
        @extend .blueText;
      }
    }
  }
}

@media (max-width: 768px) {
  .cleanCard {
    .cardImage {
      height: 200px;
    }

    .textWrapper {
      .titleWrapper {
        height: 60px;
        white-space: normal;
      }

      .detailsWrapper {
        font-size: 12px;
      }
    }
  }

  .profilePreviewContainer {
    margin: 5px;
  }
  .passPriceText {
    text-align: left;
  }
  .videoCard {
    margin: 16px !important;
    // max-height: 100%;
    // margin: 10px !important;
    // margin-left: -20px !important;
    // margin-right: -20px !important;
  }
  .imageWrapper {
    position: relative;
    max-height: 300px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .profileImage {
    border-radius: 4px;
    bottom: 20px;
    width: 100%;
    left: 0px;
  }
  .profileImage img {
    max-width: 70px;
    border: 2px solid map-get($colors, $key: 'White');
    border-radius: 4px;
  }
  .userName {
    position: absolute;
    bottom: -15px;
    left: 75px;
  }
  .shareButton {
    position: absolute;
    bottom: 0px;
    right: -15px;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  .imageWrapper {
    margin-bottom: 0px;
  }

  .cleanCard {
    .cardImage {
      height: 120px;
    }
  }
}
