@import '../../styles/variables.scss';

.mainContent {
  margin-top: 64px;
  background-color: map-get($colors, 'White') !important;
  width: 100%;
}

.topHeader {
  background-color: map-get($colors, 'White') !important;
  border-bottom: 1px solid map-get($map: $colors, $key: 'WhiteSmoke1');
  padding: 0 20px !important;
  position: fixed;
  z-index: 99;
  width: 100vw;
}
